@page "/"
@using WRA.Services.Interfaces
@using WRA.Store
@inherits ComponentBase
@inject IShowRateService ShowRateService
@inject ITrustworthinessService TrustworthinessService
@inject IWinningRateService WinningRateService
@inject StateContainer StateContainer

<PageTitle>Home</PageTitle>

<div class="home">
    <div class="top">
        @if (_tips != null)
        {
            <div class="table-scroll">
                <TipTable Tips="@_tips" />
            </div>
        }
    </div>

    <div class="bottom">
        <div class="submit-button-flex-container">
            <SubmitButton Content="計算" OnClick="@(() => SubmitButtonOnClickAsync())" />
        </div>
    </div>

    @* 単勝 *@
    @if (_winCalculationResults != null)
    {
        <div class="calculation-result-text">
            <ColumnLabel Content="計算結果 - 単勝" />
        </div>

        <div class="calculation-result-table-flex-container">
            <CalculationResultTable CalculationResults="@_winCalculationResults" />

        </div>
    }

    @* 複勝 *@
    @if (_showCalculationResults != null)
    {
        <div class="calculation-result-text">
            <ColumnLabel Content="計算結果 - 複勝" />
        </div>

        <div class="calculation-result-table-flex-container">
            <CalculationResultTable CalculationResults="@_showCalculationResults" />

        </div>
    }

    @* 3連単 *@
    @if (_trierceCalculationResults != null)
    {
        <div class="calculation-result-text">
            <ColumnLabel Content="計算結果 - 3連単 (実装中) " />
        </div>

        <div class="calculation-result-table-flex-container">
            <CalculationResultTable CalculationResults="@_trierceCalculationResults" />

        </div>
    }

    @* 3連複 *@
    @if (_trioCalculationResults != null)
    {
        <div class="calculation-result-text">
            <ColumnLabel Content="計算結果 - 3連複 (実装中) " />
        </div>

        <div class="calculation-result-table-flex-container">
            <CalculationResultTable CalculationResults="@_trioCalculationResults" />
        </div>
    }
</div>